.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 154.59px);
}

.contact-form {
  width: 40%;
}

.contact-form .input {
  padding-bottom: 1.25rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  margin-bottom: 1rem;
}

.contact-form textarea {
  margin-top: 0.6rem;
  height: 7em;
}

.contact-form label {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.bg-black,
label,
input,
textarea,
.contact-form h2 {
  background-color: #000;
  color: #fff;
  font-size: 1.25rem;
}

.contact-form h2 {
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  text-align: center;
  padding-bottom: 2rem;
}

.submit-button {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #fff !important;
  color: #fff;
  padding: 1rem 2em;
  border-radius: 8px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #2191fb;
}

form .hidden {
  display: none;
}
@media screen and (max-width: 820px) {
  .contact-form {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .contact-form {
    width: 80%;
  }
  .contact-form textarea {
    height: 5rem;
  }
}
