@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@100..900&display=swap");

/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  background-color: #fff;
}
p {
  line-height: 24px;
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
h1,
h2,
h3 {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

/* INDEX */

.main-index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero {
  width: 80%;
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
}
.hero-text {
  width: 680px;
  margin: 5em;
}
.hero-text h2 {
  font-size: 1.5em;
  padding-bottom: 0.1em;
}
.hero-text h1 {
  font-size: 1.5em;
  padding-bottom: 0.3em;
}
.hero-text h1 span {
  font-size: 1.2em;
  color: #2191fb;
  padding-bottom: 0.6em;
}
.hero-text p {
  line-height: 1.8;
}
#hero-avatar {
  height: 15em;
  border: silver 5px solid;
  border-radius: 50%;
}
.project-link {
  text-decoration: none;
  font-weight: 400;
  color: #000;
  cursor: pointer;
}
.project-link:hover {
  color: #2191fb;
}

/* ABOUT */

.about {
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h2 {
  color: #fff;
  margin-bottom: 1.5em;
  font-size: 2em;
}
.about-card-container {
  display: flex;
  gap: 20px;
}
.about-card {
  perspective: 1000px;
  width: 344px;
  height: 296px;
}
.about-card h3 {
  font-size: 1.5em;
  text-transform: capitalize;
}
.about-card i {
  font-size: 32px;
  margin-bottom: 0.6em;
}
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f8f8f8;
  border-radius: 16px;
}
.card-back {
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
}
.card-back ul li {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
}
.card-back ul li i {
  margin-right: 0.6em;
  height: auto;
}
.hard-skills {
  display: flex;
}
/* RESPONSIVE */

@media screen and (max-width: 1050px) {
  .hero {
    border-left: none;
    border-bottom-left-radius: unset;
  }
}

@media screen and (max-width: 960px) {
  .hero-text {
    margin: 2em;
  }
}

@media screen and (max-width: 890px) {
  .hero {
    border: none;
  }
  .hero-text {
    font-size: 1em;
    margin: 0 3em;
  }
  .hero-text h1 {
    padding-bottom: 1em;
  }
  #hero-avatar {
    height: 13em;
  }
}

@media screen and (max-width: 780px) {
  nav-bar {
    nav {
      padding: 1em;
    }
  }
  #hero-avatar {
    height: 10em;
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero {
    width: 100%;
    border: none;
    text-align: center;
    justify-content: center;
  }
  .hero-text {
    margin-top: 14em;
    width: 70%;
  }
  .hero-text h1 {
    font-size: 1.4em;
  }
  .hero-text p {
    font-size: 1em;
  }
}

@media screen and (max-width: 530px) {
  nav-bar {
    .links {
      display: none;
    }
  }
  .hero-text {
    width: 100vw;
    margin-top: 15em;
  }
  .hero-text h1 {
    font-size: 1.3em;
    padding-bottom: 0.8em;
  }
  .hero-text h2 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 450px) {
  .hero-text p {
    font-size: 0.9em;
    line-height: 1.6;
  }
}
/* ____________________________________________________ */

/* TO BE REVISED */
/* ____________________________________________________ */

/* PROJECTS */

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

.work-card {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

.work-card img {
  width: 344px;
  border: #000 1px solid;
  padding: 20px;
  border-radius: 16px;
  transition: transform 0.3s;
}

.work-card img:hover {
  transform: scale(1.05);
}

.work-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-card-text {
  padding: 30px;
}

.work-card-text h3 {
  padding-bottom: 16px;
  font-size: 24px;
}

/* CONTACT */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
  height: 100vh;
}

.contact-form {
  width: 50%;
  padding: 0 50px;
}

.contact-form .input {
  padding-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.bg-black,
label,
input,
textarea,
.contact-form h2 {
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.contact-form h2 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 36px;
}

.contact-form textarea {
  margin-top: 10px;
  height: 40px;
}

.submit-button {
  border: 1px solid #fff !important;
  color: #fff;
  padding: 16px 32px;
  margin-top: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #2191fb;
}

form .hidden {
  display: none;
}
