@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@100..900&display=swap");

/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  background-image: url("./assets/textur.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
p {
  line-height: 24px;
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3 {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}
li {
  list-style: none;
}

/* INDEX */

.main-index {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 2em;
  border-radius: 2em;
  background-color: rgb(255, 255, 255, 0.5);
}
.hero-text {
  width: 680px;
}
.hero-text h2 {
  font-size: 1.5em;
  padding-bottom: 0.1em;
}
.hero-text h1 {
  font-size: 1.5em;
  padding-bottom: 1em;
}
.hero-text h1 span {
  font-size: 1.2em;
  color: #2191fb;
  padding-bottom: 0.6em;
}
.hero-text p {
  line-height: 1.8;
  max-width: 32em;
}
#hero-avatar {
  height: 15em;
  border: #fff 5px solid;
  border-radius: 50%;
}
.project-link {
  text-decoration: none;
  font-weight: 400;
  color: #000;
  cursor: pointer;
}
.project-link:hover {
  color: #7c7d7d;
}

/* RESPONSIVE */

@media screen and (max-width: 1050px) {
  .hero {
    border-left: none;
    border-bottom-left-radius: unset;
  }
}

@media screen and (max-width: 960px) {
  .hero-text {
    margin: 2em;
  }
}

@media screen and (max-width: 890px) {
  .hero-text {
    border: none;
  }
  .hero-text {
    font-size: 1em;
    margin: 0 2em;
  }
  .hero-text h1 {
    padding-bottom: 1em;
  }
  #hero-avatar {
    height: 13em;
  }
}

@media screen and (max-width: 780px) {
  nav-bar {
    nav {
      padding: 1em;
    }
  }
  #hero-avatar {
    height: 10em;
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero {
    width: 100%;
    border: none;
    text-align: center;
    justify-content: center;
  }
  .hero-text {
    margin-top: 18em;
    width: 70%;
  }
  .hero-text h1 {
    font-size: 1.4em;
  }
  .hero-text p {
    font-size: 1em;
  }
}

@media screen and (max-width: 530px) {
  nav-bar {
    .links {
      display: none;
    }
  }
  .hero-text {
    width: 100vw;
    margin-top: 15em;
  }
  .hero-text h1 {
    font-size: 1.3em;
    padding-bottom: 0.8em;
  }
  .hero-text h2 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 450px) {
  .hero-text p {
    font-size: 0.9em;
    line-height: 1.6;
  }
}
/* ____________________________________________________ */

/* TO BE REVISED */
/* ____________________________________________________ */

/* CONTACT */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
  height: 100vh;
}

.contact-form {
  width: 50%;
  padding: 0 50px;
}

.contact-form .input {
  padding-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.bg-black,
label,
input,
textarea,
.contact-form h2 {
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.contact-form h2 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 36px;
}

.contact-form textarea {
  margin-top: 10px;
  height: 40px;
}

.submit-button {
  border: 1px solid #fff !important;
  color: #fff;
  padding: 16px 32px;
  margin-top: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #2191fb;
}

form .hidden {
  display: none;
}
