* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  padding-right: 80px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-right: 30px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  gap: 20px;
  padding: 280px 64px;
  list-style: none;
  font-size: 32px;
  height: 100%;
  background-color: transparent;
  mix-blend-mode: difference;
}

.social li a {
  mix-blend-mode: difference;
  color: #000;
}

.social li a:hover {
  color: grey;
}

main {
  padding-top: 170px;
}

.logo {
  height: 52px;
}

.hero {
  width: 70%;
  margin: 28px auto;
  margin-bottom: 120px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 24px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

.hero-text {
  width: 520px;
  margin: 0 auto;
}

#hero-avatar {
  height: 296px;
}

.about {
  width: 100%;
  height: 616px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h2 {
  background-color: #000;
  color: #fff;
  margin-bottom: 50px;
  font-size: 36px;
}

.about-card-content {
  display: flex;
  gap: 20px;
  background-color: #000;
}

.about-card {
  background-color: #fff;
  width: 344px;
  height: 296px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-card p {
  padding: 24px;
}

.about-card i {
  font-size: 32px;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.work h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

.work-card {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

.work-card img {
  width: 344px;
  border: #000 1px solid;
  padding: 20px;
  border-radius: 16px;
  transition: transform 0.3s;
}

.work-card img:hover {
  transform: scale(1.05);
}

.work-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-card-text {
  padding: 30px;
}

.work-card-text h3 {
  padding-bottom: 16px;
  font-size: 24px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  height: 616px;
}

.contact-form {
  width: 60%;
  padding: 0 50px;
}

.contact-form .input {
  padding-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.bg-black,
label,
input,
textarea,
.contact-form h2 {
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.contact-form h2 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 36px;
}

.contact-form textarea {
  margin-top: 10px;
  height: 40px;
}

.submit-button {
  border: 2px solid #fff !important;
  color: #fff;
  padding: 16px 32px;
  margin-top: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #fff;
  color: #000;
}

form .hidden {
  display: none;
}

.social-footer {
  display: none;
}

/* Responsive */

@media screen and (max-width: 1300px) {
  .hero-text {
    padding: 32px;
  }

  .about {
    height: 100%;
    padding: 50px 0;
  }

  .about-card {
    width: 65%;
  }

  .about-card-content {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .work-card-content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 780px) {
  .social {
    display: none;
  }

  .hero {
    padding: 20px;
    text-align: center;
  }

  #hero-avatar {
    width: 20%;
    height: auto;
    position: absolute;
    top: 170px;
    border: silver 5px solid;
    border-radius: 50%;
  }

  .hero-text {
    padding-top: 100px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .work {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .contact-form {
    width: 100%;
  }
  .contact-form .input {
    padding-bottom: 10px;
  }
  .contact-container {
    height: 100%;
  }

  .social-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    list-style: none;
    font-size: 32px;
    background-color: transparent;
  }
  .social-footer li a {
    color: #000;
  }
}

@media screen and (max-width: 620px) {
  #hero-avatar {
    top: 160px;
  }

  .hero-text {
    padding-top: 60px;
  }
}
